aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
.deps/
.dirstamp
/gmsk-transfer
install-sh
.libs/
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
test.sh.*
test-driver
test-suite.log
*.la
*.lo
*.o
